.footer {
    width: 100%;
    background: linear-gradient(180deg, var(--background-orange), var(--background-orange) 56.75%, var(--background-orange-ligth) 93.5%);
    color: var(--color-dark);
    padding: 3rem 0 0;
    margin-top: 3rem;    
    justify-content: center;
    align-items: center;
  }
  
  .footerContent {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
  }
  
  .footerSection {
    margin-bottom: 2rem;
  }
  
  
  .footerTitle {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
  }
  
  .footerText {
    line-height: 1.6;
  }
  
  .footerLinks {
    list-style: none;
    padding: 0;
  }
  
  .footerLinks li {
    margin-bottom: 0.8rem;
  }
  
  .footerLink {
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footerLink:hover {
    color: var(--color-white);
  }
  
  .footerContacts {
    list-style: none;
    padding: 0;
    line-height: 1.8;
  }
  
  .footerBottom {
    padding: 1rem 0;
    text-align: center;
    font-size: 0.9rem;
  }
  
  @media (max-width: 768px) {
    .footerContent {
      grid-template-columns: 1fr;
      padding: 0 1rem;
    }
  }