.dashboard-container {
    max-width: 95%;
    margin: 2rem auto;
    padding: 1rem;    
    background-color: var(--background-ligth);
  }

  .container-title {
      display: flex;
      flex-direction: column;
      font-size: 20px;
      font-weight: 500;
  }
  .name-page {
    background-color: #fadcb7;
    width: 1076px;
    height: 203px;
    border-radius: 6px;
    position: relative;
    top: 10%;
    left: 10%;
    padding-left: 25px;
    padding-top: 37px;
    padding-bottom: 38px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
  }
  
  .name-title {
    font-weight: 500;
    font-size: 20px;
  }
  .descrição {
    font-weight: 400;
    font-size: 16px;
  }
  .área-do-usuario-img {
    width: 352px;
    height: 222px;
    position: absolute;
    top: 0;
    right: 0;
  }


  /*abas */
  .container-abas {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .abas {
    display: flex;
    margin-top: 0;
    background-color: #E9E9E9;
  }
  
 .aba {
  display: flex;            
  align-items: center;      
  gap: 8px;                 
  padding: 10px 20px;
  background-color: #7dca7b;
  border: none;
  cursor: pointer;
}
  .aba.ativa {
    background-color: #2e7d32;
    color: white;
    border-radius: 0px 0px 6px 0px;
  }
  .aba.ativa:hover {
    background-color: #2e7d32;
    color: white;
    border-radius: 0px 0px 6px 0px;
  }

  .aba:hover{
    background-color: var(--color-botao-login-hover);  
    color: white;
    border-radius: 0px 0px 6px 0px;
  }



/*not found*/
  
  .loading, .notFound {
    max-width: 90%;
    text-align: center;
    margin: 2rem auto;
    padding: 1rem;   
    background-color: var(--background-ligth);
  }
  .backLink {
    display: inline-block;
    margin-top: 1rem;
    color: var(--background-green);
    text-decoration: none;
    font-weight: 600;
  }
  .backLink:hover {
    text-decoration: underline;
  }

  
  
  @media (max-width: 768px) {
    .userContainer {
      max-width: 95%;
      padding: 0.5rem;
    }
  
    .name-page {
      width: 100%;
      height: auto;
      left: 0;
      top: 0;
      padding: 20px;
      margin-top: 1rem;
      margin-bottom: 1rem;
      position: static; /* remove o posicionamento absoluto */
    }
  
    .área-do-usuario-img {
      width: 100%;
      height: auto;
      position: static;
      margin-top: 1rem;
    }
  
    .container-title {
      font-size: 18px;
    }
  
    .name-title {
      font-size: 18px;
    }
  
    .descrição {
      font-size: 14px;
    }
  
    .abas {
      flex-direction: column;
    }
  
    .aba {
      width: 100%;
      text-align: center;
      font-size: 14px;
    }
  
    .container-dashboard {
      padding: 15px;
    }
  
    .container-dashboard h3 {
      font-size: 18px;
    }
  
    .descritivo {
      font-size: 14px;
      flex-direction: column;
    }
  
    .loading,
    .notFound {
      max-width: 95%;
      padding: 0.5rem;
    }
  }