@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  /*Cor dos backgrounds*/
  --background-green: #0c5e0f;
  --background-green-ligth: #1e8022;
  --background-grey: #7b7b7b;
  --background-ligth: #f5f5f5;
  --background-white: #fff;
  --background-orange: #ef8e30;
  --background-orange-ligth: #e4752b;
  --background-clear: #f8f9fa;  
  --background-verde-claro: #C7E6C5;

  --background-principal: #E9E9E9;

  /*Cor das bordas*/
  --border-grey: #7b7b7b;

  /*Cor das fontes*/
  --color-white: #fff;
  --color-black: #000;
  --color-dark: #333;
  --color-title: #2c3e50;
  --color-title-ligth: #7f8c8d;
  --color-icon-receita: #328E2D;
  --color-botao-login: #267d23;
  --color-botao-login-hover:#0c5e0f;
  --color-botao-cadastro: #e4752b;
  --color-botao-cadastro-hover: #F4AF5F;
  --color-cinza-login: #434343;
  --color-cinza-label: #2d2d2d;
  --color-botao-voltar: #C4C4C4;

  /*Cor mensagens*/
  --msg-error: red;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;  
  font-family: "Montserrat", sans serif;
  line-height: 1.6;
  background-color: var(--background-verde-claro);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.erro-msg{
  color: var(--msg-error);
  font-size: 0.9rem;
  font-weight: bold;
}

/* Estilos para o container principal */
main {
  min-height: calc(100vh - 120px - 80px); /* Altura total - header - footer */
  padding: 20px 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
