.mainContainer {
    max-width: 90%;
    margin: 2rem auto;
    padding: 0 1rem;
    background-color: var(--background-ligth);
    align-items: center;
  }
  
  /* Recipes Section */
 
  .categoryTitle
  {    
    font-size: 2.5rem;
    color: var(--color-title);
    margin-bottom: 1.5rem;
    text-align: center;
  } 
  
  .recipesSection {
    padding: 3rem 2rem;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 3rem;
    background-color: #f8f9fa; /* ou var(--background-ligth) se preferir padronizar */
  }

  .recipeGrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-bottom: 3rem;
  }
  .recipeTitle {
    font-size: 1.5rem;
    color: var(--color-title);
    margin-bottom: 1rem;
    overflow: hidden;
  }

  .recipeImg {
    width: 100%;
    max-width: 350px;
    height: auto;
    aspect-ratio: 350 / 240;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .recipeDetails {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colunas */
    grid-template-rows: repeat(2, 1fr);    /* 2 linhas */
    gap: 1rem;
    color: var(--color-title-ligth);
    font-size: 1.1rem;
    margin-top: 1rem;
  }
  
  .recipeDetails span {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    gap: 0.5rem;
  }
  
  .recipeItem {
    background-color: #fff;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    color: #34495e;
    text-align: center;
    transition: transform 0.3s ease;
  }  
  .recipeBox {
    background-color: #fff;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    color: #34495e;
    text-align: center;
    transition: transform 0.3s ease;
  }    
  
  .recipeBox:hover {
    transform: translateY(-5px);
  }
  

  /*Mais receitas*/

  .recipesMoreSection{
    display: grid;
    padding: 3rem 2rem;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 3rem;
  }

  .recipeMoreList {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colunas */
    gap: 1.5rem;
    margin-top: 2rem;
  }

  .recipeMoreItem {
    background-color: #fff;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    color: #34495e;
    text-align: center;
    transition: transform 0.3s ease;
  }  

  .recipeMoreItem:hover {
    transform: translateY(-5px);
  }

  .recipeMoreImg {
    width: 100%;
    max-width: 250px;
    height: auto;
    aspect-ratio: 250 / 200;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  }
  
  .recipeMoreImg:hover {
    transform: scale(1.03);
  }

  .recipeMoreTitle {
    font-size: 1.2rem;
    color: var(--color-title);
    margin-bottom: 1rem;
    font-weight: bold;
    overflow: hidden;
  }


  .recipeMoreDetails1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colunas */
    grid-template-rows: repeat(2, 1fr);    /* 2 linhas */
    gap: 1rem;
    color: var(--color-title-ligth);
    font-size: 1.1rem;
    margin-top: 1rem;
  }

  .recipeMoreDetails {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    justify-content: center;
    font-size: 0.9rem;
    color: var(--color-title-ligth);
  }
  
  .recipeMoreDetails p {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    gap: 0.5rem;
  }
  

  .recipeMoreIncos {
    font-size: 1rem;
    color: var(--color-title-ligth);
  }
  .recipeMoreIncos img {
    width: 20px;
    height: 20px;
  }


  /*icones*/

  .CoinIcon,
  .TimeLineIcon,
  .dateTimeIcon,
  .userIcon,
  .Icon  {
    color: var(--color-icon-receita);
  }
  .CoinIcon:hover,
  .TimeLineIcon:hover,
  .dateTimeIcon:hover,
  .userIcon:hover,
  .Icon  {
    color: var(--background-green);
  }

    
  /* Responsividade */
  @media (max-width: 768px) {
    .categoryTitle {
      font-size: 2rem;
    }
    .recipeTitle {
      font-size: 1rem;
    }
    
    .recipeDetails {
      flex-direction: column;
      gap: 0.5rem;
    }
    
    .categoryGrid {
      grid-template-columns: 1fr;
    }
  }

  @media (max-width: 1024px) {
    .recipeMoreList {
      grid-template-columns: repeat(3, 1fr); /* 3 colunas em tablets */
    }
  }
  
  @media (max-width: 768px) {
    .recipeDetails {
      grid-template-columns: 1fr; /* 1 coluna em mobile */
      grid-template-rows: auto;
    }
    
    .recipeMoreList {
      grid-template-columns: repeat(2, 1fr); /* 2 colunas em mobile */
    }
  }
  
  @media (max-width: 480px) {
    .recipeMoreList {
      grid-template-columns: 1fr; /* 1 coluna em telas muito pequenas */
    }
  }