.searchResultsContainer {
  max-width: 90%;
  margin: 0 auto;
  padding: 2rem 1rem;
  background-color: var(--background-ligth);
}

.searchfrase {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: #333;
  text-align: left;
}
.searchcount{
  font-size: 1rem; 
  margin-bottom: 1rem;
}

.resultsGrid {
  display: grid;
  justify-content: center; /* centraliza horizontalmente */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 10px;
}

.recipeCard {
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  color: #333;
  text-align: center;
  transition: transform 0.3s ease;
}

.recipeCard h2{
  overflow: hidden;
}


.recipeCard:hover {
  transform: translateY(-5px);
}

.recipeImage {
  width: 100%;
  max-width: 350px;
  height: auto;
  aspect-ratio: 350 / 240;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.recipeTitle {
  font-size: 1.5rem;
  color: var(--color-title);
  margin-bottom: 1rem;
  overflow: hidden;
}

.recipeDetails {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colunas */
  grid-template-rows: repeat(2, 1fr);/* 2 linhas */
  gap: 1rem;
  color: var(--color-title-ligth);
  font-size: 1.1rem;
  margin-top: 1rem;
}
  
.recipeDetails span {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  gap: 0.5rem;
}

.Icon {
  color: var(--background-green);
}

.noResults {
  text-align: center;
  padding: 2rem;
  color: #333;
}

.noResults svg {
  margin-bottom: 1rem;
  color: #ccc;
}

.backLink {
  display: inline-block;
  margin-top: 1rem;
  color: var(--background-green);
  text-decoration: none;
  font-weight: 600;
}
.backLink:hover {
  text-decoration: underline;
}

.loading, .notFound {
  max-width: 90%;
  text-align: center;
  margin: 2rem auto;
  padding: 1rem;   
  background-color: var(--background-ligth);
}

/*paginacao*/
.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.page-button {
  background-color: #f8f9fa;
  color: #328E2D;
  border: 1px solid #d1d1d1;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s, color 0.3s;
}

.page-button:hover {
  background-color: #e2d6f3;
  color: #328E2D;
}

.pagina-ativa {
  background-color: #328E2D;
  color: white;
  border-color: #328E2D;
  font-weight: bold;
}

.pagina-ativa {
  background-color: #328E2D;
  color: white;
  font-weight: bold;
}
